*{
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  margin: 0;
  min-height: 100vh;
  grid-auto-flow: column;
  place-content: center;
  background: #f0f0f0
}


.container-fluid {

  background-color: #ffffff; /* Same color as the card background */
}

.Label
{
  color: rgb(0, 0, 0);
}

.hr-100w
{
  width: 100%;
  border: 2px solid white;
}

/* card-1 */
.card-1 {
  position: relative;
  width: 290px;
  height: 354px;
  background-color: #ffffff41;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 2px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: "poppins";
  margin-top: 30px;
}

.content1 p {
  font-family: "poppins";
  font-weight: 700;
  line-height: 1.3;
}

.content1 p1 {
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.3;
}
.heading-1 {
  font-size: 30px;
  font-weight: 800;
  font-family: "poppins";
}

.heading-1 p {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "poppins";
  text-align: justify;
}

/* card-2 */
.card-2 {
  position: relative;
  width: 290px;
  height: 354px;
  background-image: linear-gradient(to bottom left, rgb(68, 0, 7),  rgba(255, 43, 43, 0.624), rgb(255, 240, 209),  rgb(255, 43, 43),  rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  gap: 1px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  font-family: "poppins";
  color: #000000;

  
}

p {
  color: #1e1e1e;
  line-height: 1.1;

}

p1 {
  color: #1e1e1e;
  line-height: 1.1;
  font-size: 19px;

}

.price {
  font-size: 17px;
  font-weight: bold;
  color: #fff3c5;
  margin-top: 9px;
  margin-bottom: 10px;
  font-family: "poppins";
}

.btn {
  display: inline-block;
  height: 35px;
  width: 138px;
  padding: 10px 20px;
  background-color: #d20031;
  color: #ffeed1;
  border-radius: 9px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'poppins';
}

.title2 {
  font-size: 24px;
  font-weight: bold;
  color: #a40026;
  font-family: "Poppins";
  margin-bottom: 6px;
}

.title2 span {
  color: #301001;
  font-family: "poppins";
  margin-bottom: 6px;
}

.description {
  font-size: 13px;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 2px;
}


/* card-3 */
  .card-3 {
    width: 290px;
    height: 404px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .card-3 image {
    width: 400px;
  }
  .pantone {
    margin-top: 3%;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 25px;
  }

  .pantone span {
    font-size: 25px;
  }

  .pantone h6 {
    font-family: "Poppins";
  }

 p {
    color: #000000;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 20px;
  }

  

 /* card-4 */

 .card-4 {
  width: 290px;
  height: 463px;
  background-image: linear-gradient(to right, rgb(236, 232, 255),  rgb(254, 226, 255),  rgb(223, 255, 252),#ffffe6);
  padding: 5px;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(10px);
  border: 4px solid rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  font-family: "Poppins";
}
 .card-4 img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.103);
  margin-right: 9px;
  margin-bottom: 10px;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 26px;
  text-align: left;
  font-weight: 510;
  color: #000000;
}

.title spanA {
  color:#56fff7;
}

.title spanB {
  color:#000000;
}

.title span1 {
  color:#b504d0;
}

.title span2 {
  color:#ff0073;
}

.title span3 {
  color:#ff6a00;
}

.title span4 {
  color:#fff700;
}

.title span5 {
  color:#67ff56;
}

.title span6 {
  color:#ff00a2;
}

.p2 {
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
  margin-top: 1px;
  font-family:"Poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 10px 10px 0px 10px;
}



 /* card-5 */

 .card-5 {
  width: 292px;
  height: 480px;
  background-color: rgba(28, 70, 117, 0.733);
  background-image: url(../img/magical-sword.png);
  padding: 1px;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 1.2);
  text-align: right;
  font-family: "Poppins";
  margin-bottom: 20px;

}

.card-5 img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 18px;
}

.title5 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.details {
  width: 340px;
  font-size: 15px;
  text-align: left;
}

.info {
  margin: 15px 0;
  color: rgb(255, 255, 255);
}

.info p {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.description5 {
  color: rgb(255, 255, 255);
}





/* card-6 */


/* card-1 */
.card-6 {
  position: relative;
  width: 290px;
  height: 354px;
  background-color: #ffffff41;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 2px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: "poppins";
  margin-top: 10px;
}

.content6 p {
  font-family: "poppins";
  font-weight: 700;
  line-height: 1.3;
}

.content6 p1 {
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.3;
}
.heading-6 {
  font-size: 30px;
  font-weight: 800;
  font-family: "poppins";
}

.heading-6 p {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "poppins";
  text-align: justify;
}

.card-6:hover {
    transition: all .3s;
     width: 290px;
     height: 354px;
     background: rgb(255, 255, 255);
     padding: .4em;
     border-radius: 6px;
     box-shadow: 0 5px 8px rgba(0, 0, 0, 1.2);
 }

& .content6 p:hover {
  font-family: "poppins";
  font-weight: 700;
  line-height: 1.3;
  margin-left: 30px;
}

.content6 p1:hover {
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.3;
  margin-left: 30px;
}
.heading-6:hover {
  font-size: 30px;
  font-weight: 800;
  font-family: "poppins";
  margin-left: 30px;
}

.heading-6 p:hover {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "poppins";
  text-align: justify;
  margin-left: 30px;
}


 /* card-7 */
 .card-7 {
  position: relative;
  width: 290px;
  height: 354px;
  background-image: linear-gradient(to bottom left, rgb(68, 0, 7),  rgba(255, 43, 43, 0.624), rgb(255, 240, 209),  rgb(255, 43, 43),  rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  gap: 1px;
  border-radius: 15px;
  border: 1px solid rgba(92, 0, 0, 0.2);
  transition: all .1s;
  box-shadow: 12px 12px 2px 1px rgba(83, 0, 0, 0.774);
  margin-top: 10px;
  margin-bottom: 15px;
 }

 .card-7:hover {
  box-shadow: -12px 12px 2px -1px rgba(83, 0, 0, 0.774);
 }

p7 {
  color: #1e1e1e;
  line-height: 1.1;

}

p17 {
  color: #1e1e1e;
  line-height: 1.1;
  font-size: 19px;

}

.price7 {
  font-size: 17px;
  font-weight: bold;
  color: #fff3c5;
  margin-top: 9px;
  margin-bottom: 10px;
  font-family: "poppins";
}

.button7 {
  display: inline-block;
  height: 42px;
  width: 158px;
  padding: 10px 20px;
  background-color: #d20031;
  color: #ffeed1;
  border: 1px solid rgba(104, 0, 0, 0.363);
  border-radius: 9px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'poppins';
}

.button7:hover {
  background-color: #791a32;
}

.title7 {
  font-size: 24px;
  font-weight: bold;
  color: #a40026;
  font-family: "Poppins";
  margin-bottom: 6px;
}

.title7 span {
  color: #301001;
  font-family: "poppins";
  margin-bottom: 6px;
}

.description7 {
  font-size: 13px;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 2px;
}


/* card-8 */

.card-8 {
  width: 290px;
  height: 404px;
  padding: 20px;
  background-color: #ff8800;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  perspective: 1000px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.card-8-inner {
  position: relative;
  width: 290px;
  height: 404px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
}
.card-8:hover .card-8-inner {
  transform: rotateY(180deg);
}

.card-8-front, .card-8-back {
  position: absolute;
  width: 290px;
  height: 404px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-8-front {
  background-color: #ecb9b9;
  color: black;
  width: 190px;
  height: 204px;
}

.card-8-back {
  background-image: url(../img/me-with-cholo.jpg);
  background-size: 100%;
  color: rgb(255, 208, 0);
  transform: rotateY(180deg);
  width: 250px;
  height: 280px;
}

.card-8-back p {
  margin-top: 290px;
  font-size: 50px;
  color: #e99700;
  font-family: "Poppins";
  font-weight: 600;
}
.card-8 image8 {
  width: 400px;
  height: 400px;
  background-color: #000000;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;

}
.pantone8 {
  margin-top: 3%;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-align: left;
}

.pantone8 span {
  font-size: 25px;
}

.pantone8 h6 {
  font-family: "Poppins";
}

.p8 {
  color: #000000;
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 20px;
}

/* card-9 */
.card-9 {
  width: 290px;
  height: 463px;
  background-image: linear-gradient(to right, rgb(236, 232, 255),  rgb(254, 226, 255),  rgb(223, 255, 252),#ffffe6);
  padding: 5px;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(10px);
  border: 4px solid rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  font-family: "Poppins";
}

.card-9:hover {
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.879);
  border: 9px solid rgba(0, 0, 0, 0.082);
}

 .card-9 img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.103);
  margin-right: 9px;
  margin-bottom: 10px;
}

.title9 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 26px;
  text-align: left;
  font-weight: 510;
  color: #000000;
}

.title9 spanA {
  color:#56fff7;
}

.title9 spanB {
  color:#000000;
}

.title9 span1 {
  color:#b504d0;
}

.title9 span2 {
  color:#ff0073;
}

.title9 span3 {
  color:#ff6a00;
}

.title9 span4 {
  color:#fff700;
}

.title9 span5 {
  color:#67ff56;
}

.title9 span6 {
  color:#ff00a2;
}

.p29 {
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
  margin-top: 1px;
  font-family:"Poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 10px 10px 0px 10px;
}



/* card-10 */


.card-10 {
  width: 292px;
  height: 513px;
  background-color: rgba(28, 70, 117, 0.733);
  background-image: url(../img/magical-sword.png);
  padding: 1px;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 1.2);
  text-align: right;
  font-family: "Poppins";

}

.card-10 img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 18px;
}

.card-10 img:hover {
  box-shadow: 0 8px 30px 0 rgba(0, 255, 213, 0.879);
  border: 4px solid rgb(0, 255, 221);
}

.title10 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.details10 {
  width: 340px;
  font-size: 15px;
  text-align: left;
}

.info10 {
  margin: 15px 0;
  color: rgb(255, 255, 255);
}

.info10 p {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.description10 {
  color: rgb(255, 255, 255);
}

.actions10 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "poppins";
}
.button10 {
  display: inline-block;
  background-color: #80aec1;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 9px;
  width: 1200px;
  box-shadow: 0 1px 10px rgba(14, 4, 59, 0.434);
}

.button10:hover {
  background-color: #1a5e79;
}

/*side bar*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #b6b6b6;
  font-weight: 700;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border-radius: 5%;
  border-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.openbtn:hover {
  background-color: #2b2b2b;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}



